h5 {
	text-align: center;
}

img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.comment-author {
	font-weight: bold;
	color: blue;
}

.comment-control {
	height: 20px;
}

.button-control {
	height: 30px;
	margin-left: 5px;
}

.cmt-img {
	height: 100px;
	padding: 5px;
	margin-left: 0;
	margin-right: initial;
}

.avatar {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	position: relative;
	max-height: 150px;
	width: 100%;
	overflow: auto;
}

.cover-container {
	height: 200px;
	width: 100%;
}

.reply-text {
	width: 100%;
	height: 30px;
}

.reply-area {
	margin-top: 5px;
}

.tablesorter-header {
    background-color: lightblue !important;
    text-align: center !important;
}

.status-container {
	align-items: center;
  	justify-content: center;
 }

.collapse-button {
	align-items: center;
  	justify-content: right;
}

.button-reply-comment,
.button-edit-comment,
.button-delete-comment {
	margin-left: 10px; 
}

#button-add-comment {
	margin-top: 20px;
	margin-bottom: 10px;
}

#table-container {
	height: 30vh;
	width: 910px;
	background-color: gray;
}
#table2, #table-schedule {
	height: auto;
	max-height: 300px;
	text-align: center;
	margin: 0 !important;
}

#map {
    width: 100%;
    height: 450px;
    background: grey;
}

/*.status-container,*/
#header-bar {
	text-align: center;
}

#button-3,
#button-2,
#button-1 {
	align-items: center;
  	justify-content: center;
}

#new-point-container,
#edit-point-container,
#delete-point-container {
	/*display: none;*/
}
#button-add-point,
#button-edit-point,
#button-delete-point,
.button-edit-plan,
.error-edit-plan {
	align-items: center;
  	justify-content: center;
}

#comment-container,
#input-comment-container,
#new-comment-text {
	width: 100%;
}

#input-comment-container {
	margin-top: 20px;
}